<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Actualizar Extintor</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 align="center">Actualizar Extintor</h1>
		</div>
		<div class="container">
		<h2 class="form-signin-heading">Por favor llenar todos los campos</h2>	
			<th:block th:each="extintor : ${extintores}">
				<div class="row">
					<div class="col-md-6">
						<label>ID</label>
						<input disabled="disabled" type="text" th:value="${extintor.elemento.id}" name="id" class="form-control" required />
					</div>				
				
				<div class="col-md-6">
						<label>Tipo</label> <br>
						<select class="form-control" name="tipo"style="width: 100%">
						   	<option>Seleccione</option>
						   	<option>ABC</option>
						   	<option>H2O</option>
						   	<option>CO2</option>
						   	<option>Solkaflam</option>
						</select>
					</div>
					</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Tamaño</label>
						<select class="form-control" name="tamanio" style="width: 100%">
							<option>Seleccione</option>
						   	<option>10 libras</option>
						   	<option>15 libras</option>
						   	<option>20 libras</option>
						   	<option>370 gramos</option>
						   	<option>2,5 litros</option>
						   	<option>150 litros</option>						   	
						</select>
					</div>
					
					<div class="col-md-6">
						<label>Fecha Recarga</label>
						<input type="date" th:text="${exti.fechaultimarecarga}" name="fecha" class="form-control" required />
						
						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Caducidad</label>
						<select class="form-control" name="caducidad" style="width: 100%">
							<option>Seleccione</option>
						   	<option>1</option>
						   	<option>2</option>
						   	<option>3</option>
						   	<option>4</option>
						   	<option>5</option>
						</select>
					</div>
					
					<div class="col-md-6">
						<label>Empresa</label>
						<input type="text" class="form-control" required/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Ubicacion: </label>
					</div>				
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<label>Sede</label>
						<select class="form-control" name="tamanio" style="width: 100%">
						   	<option>Principal</option>
						   	<option>Bellas Artes</option>
						   	<option>Palogrande</option>
						   	<option>Sancancio</option>
						   	<option>Versalles</option>						   	
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Bloque</label>
						<input type="text" class="form-control" required/>
					</div>
					
					<div class="col-md-4">
						<label>Piso</label>
						<input type="text" class="form-control" required/>
					</div>					
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Encargado</label>
						<input name="id" type="text" class="form-control">
					</div>
					
					<div class="col-md-6">
						<label>Estado Extintor</label> <br>
						
					</div>
										
				</div>		
			
        		
		</div>
		<div class="col-md-5"></div>
	    			<div class="col-md-2">
	    				<button class="btn btn-lg btn-primary">Actualizar</button>
	    			</div>
	    		<div class="col-md-5"></div>
		</th:block>
	</div>
</body>
</html>