<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Actualizar Extintor</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 align="center">Actualizar Extintor cgsfdgdfg</h1>
		</div>
		<div class="container">			
			<th:block th:each="exti : ${extintores}">
				<div class="row">
					<div class="col-md-6">
						<label>ID</label>
						<input name="id" type="text" class="form-control" required value="${extintor.idelemento}"/>
						 <td th:text="${extintor.idelemento}"><label>Identificador</label></td>
						 
					</div>				
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Tamaño</label> <br>
						
					</div>
					
					<div class="col-md-6">
						<label>Fecha Recarga</label>
						<input type="date" class="form-control" required/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Caducidad</label>
						<input type="text" class="form-control" required/>
					</div>
					
					<div class="col-md-6">
						<label>Empresa</label>
						<input type="text" class="form-control" required/>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-6">
						<label>Ubicacion: </label>						
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<label>Sede</label>
						<input type="text" class="form-control" required/>
					</div>
					
					<div class="col-md-4">
						<label>Bloque</label>
						<input type="text" class="form-control" required/>
					</div>
					
					<div class="col-md-4">
						<label>Piso</label>
						<input type="text" class="form-control" required/>
					</div>					
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Encargado</label>
						<input name="id" type="text" class="form-control">
					</div>
					
					<div class="col-md-6">
						<label>Estado Extintor</label> <br>
						
					</div>
										
				</div>		
			
        		<div class="col-md-5"></div>
	    			<div class="col-md-2">
	    				<button class="btn btn-lg btn-primary">Registrar</button>
	    			</div>
	    		<div class="col-md-5"></div>
		</div>
		</th:block>
	</div>
	
	
	
	
	
	<div class="container">
		<!-- Tabla que muestra la información de la tabla contrato de la base de datos -->
    			<div class="form-group">
    				<table id="registros" class="table table-bordered table-striped">
    					<tr>
	    					<td><label>Identificador</label></td>
	    					<td><label>tamaño</label></td>
						</tr>
    					<th:block th:each="exti:${extintor}">
						      <tr>
						         <td th:text="${exti.idelemento}"><label>Identificador</label></td>
						         <td th:text="${exti.tamanio}"><label>tamaño</label></td>	        
						         
						      </tr>
						</th:block>
			        </table>
    			</div>
    			</div>
	
	
	
	<form action="#" th:object="${extintor}" method="post">
    <input type="text" id="idelemento" name="idelemento" th:value="*{idelemento}" />
</form>
	
	
	
	
	
</body>
</html>