<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="scripts.js"></script>

<script>
	function enviar(id){
		location.href='/modificarReporte?id='+id;
	}
</script> 
<title>CEST - Reportes</title>

</head>

<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron" style="background: rgb(13,67,113)">
			<h1 align="center" style="color: white">Consultar Reporte</h1>
		</div>

		<div class="col-md-1"></div>
		
		<div class="form-group">
    		<table id="registros" class="table table-bordered table-striped">
    			<tr>
	    			<td><label>Elemento</label></td>
					<td><label>Fecha</label></td>
					<td><label>Ubicación</label></td>
					<td><label>Descripción</label></td>
					<td><label>Estado</label></td>
				</tr>
				<th:block th:each="reporte:${reportes}">
					<tr>
				        <td th:text="${reporte.tipoelemento}"><label>Elemento</label></td>
				        <td th:text="${reporte.fechareporte}"><label>Fecha</label></td>
						<td th:text="${reporte.ubicacion}"><label>Ubicación</label></td>
						<td th:text="${reporte.descripcion}"><label>Descripción</label></td>
						<td th:text="${reporte.estado}"><label>Estado</label></td>
					</tr>
				</th:block>
		    </table>
    	</div>
	 </div>
</body>
</html>
