<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>CEST - Home</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 align="center">Bienvenido a CEST - HOME</h1>
			<p align="justify"> 
			Hola! Bienvenido a CEST.
			En este sistema podrás gestionar información acerca de los elementos de seguridad (Extintores, Camilla y Botiquines) y,
			además podrás dar reporte sobre el estado en el que se encuentre alguno de estos elementos.
			</p>
		</div>
	</div>
</body>
</html>