<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>

	<nav class="navbar navbar-default">
	 	<div class="container-fluid">
	    	<div class="navbar-header">
	      		<a class="navbar-brand">CEST</a>
	    	</div>
	    	<div class="navbar-header">
	    		<ul class="nav nav-pills">
		      		<li role="presentation">
		      			<a href="/home" role="button">Home</a>
		      		</li>
		      		<li>
			      		<a data-toggle="modal" data-target="#myModal" href="#">Reportes no leidos 
			      			<span id ="notificados" class="label label-danger"> </span>
			      		</a>
		      		</li>
		      		<li>
		      			<a href="#">Page 2</a>
		      		</li>
	    		</ul>
	    	</div>
	  	</div>
	</nav>
	
	
	
	
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reportes Sin Leer</h4>
        </div>
        <div class="modal-body">
        
        <!-- Lista dentr de modal-->
        <dl class="list-goup">
        	<dt> <a class="list-group-item" href="#">Link 1</a> </li>
        	<dt> <a class="list-group-item">Link 2</a> </li>
        	<dt> <a class="list-group-item">Link 3</a> </li>
        </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

</div>
	
	
	
	

</body>
<script type="text/javascript">
	var consulta = function(){
		$.post( "/buscarCambioBD",
				{},
				function( reportes ) {
					$('#notificados').text(''+Object.keys(reportes).length);
					$('#notificado').text(''+Object.keys(reportes).length);
					$.each(reportes, 
							function(i,reporte){
								//Notificacion infinita
								if(reporte.notificado == "No"){
									console.log("Notificando reporte");
									new PNotify({
									    title: 'Nuevo Reporte',
									    text: 'Han enviado un reporte.',
									    type: 'info'
									});
									
									//Cambiar estado notificado
									$.post( "/cambiarNotificado",
											{id:reporte.id},
											function( report ) {																
											}
									);
									//Fin estado notificado									
								}
							}
					);				
				}
		);
	};	
	var intervalo = 1000; //milisegundos
	setInterval(consulta, intervalo);
</script>

</html>
