<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="scripts.js"></script>

<title>Registro de elementos - CEST</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron" style="background: rgb(13,67,113)">
			<h1 align="center" style="color: white">Registro de Extintor</h1>
		</div>
		<div class="container">
			<h2 class="form-signin-heading">Por favor llenar todos los campos</h2>
			<form id="RegExtForm" class="form-signin" action="#" th:action="@{/registrarExtintor}" th:object="${extintor}" th:method="post">
				<div class="row">
					<div class="col-md-4">
						<label>ID</label>
						<input th:field="*{idelemento}" id="id" name="id" type="text" class="form-control"  required maxlength="5" pattern="\d+" title="INGRESA VALOR NUMÉRICO, MAXIMO 5">
					</div>
					
					<div class="col-md-4">
						<label>Cédula de encargado</label>
						<input id="cedulaencargado" name="cedulaencargado" type="text" class="form-control"  required maxlength="10" pattern="\d+" title="lA CÉDULA DEBE SER NUMÉRICA">
					</div>
					
					<div class="col-md-4">
						<label>Número de contrato</label>
						<input id="numerocontrato" name="numerocontrato" type="text" class="form-control"  required pattern="\d+" title="INGRESA UN VALOR NUMÉRICO">
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-md-4">
						<label>Tamaño</label> <br>
						<select id="tamanio" name="tamanio" class="form-control"  style="width: 100%" required title="SELECCIONA EL TAMAÑO DEL EXTINTOR">
						   	<option>10 libras</option>
						   	<option>15 libras</option>
						   	<option>20 libras</option>
						   	<option>370 gramos</option>
						   	<option>2,5 litros</option>
						   	<option>150 litros</option>						   	
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Tipo</label> <br>
						<select id="fichatecnica" class="form-control" name="tipo" style="width: 100%" required title="SELECCIONA EL TIPO DE EXTINTOR">
						   	<option></option>
						   	<th:block th:each="fichatecnica:${fichastecnicas}">
						   		<option th:text="${fichatecnica.tipo}"></option>	
						   	</th:block>	
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Empresa</label>
						<input type="text" class="form-control" disabled="disabled"/>
					</div>
				</div>
				
				<div class="row">
					
					
					<div class="col-md-4">
						<label>Fecha última recarga</label>
						<input type="date" class="form-control" required />
					</div>
					
					<div class="col-md-4">
						<label>Caducidad en años</label>
						<select id="caducidad" class="form-control" name="caducidad" required style="width: 100%">
						   	<option>Seleccione</option>
						   	<option>1</option>
						   	<option>2</option>
						   	<option>3</option>
						   	<option>4</option>
						   	<option>5</option>	   	
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Fecha de vencimiento</label>
						<input type="date" class="form-control" disabled="disabled" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<label>Estado Extintor</label> <br>
						<select class="form-control" name="estado"style="width: 100%" required title="SELECCIONA EL ESTADO DEL EXTINTOR">
						   	<option>Activo</option>
						   	<option>Baja</option>
						   	<option>Mantenimiento</option>
						   	<option>Vencido</option>
						   					   	
						</select>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-6">
						<label><br>Ubicacion: </label>						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<label>Sede</label> <br>
						<select id="sede" class="form-control" name="sede" style="width: 100%" onchange="ObtenerBloques();">
						   	<option>Seleccione</option>
						   	<th:block th:each="sede:${sedes}">
						   		<option th:text="${sede.nombre}"></option>	
						   	</th:block>		   	
						</select>						
					</div>				
					
					<div class="col-md-4">
						<label>Bloque</label> <br>
						<select id="bloque" class="form-control" name="bloque" style="width: 100%" onchange="ObtenerPisos();">
						   	<option>Seleccione</option>	   	
						</select>						
					</div>
					
					<div class="col-md-4">
						<label>Piso</label> <br>
						<select id="piso" class="form-control" name="piso" style="width: 100%">
						   	<option>Seleccione</option>	   	
						</select>						
					</div>					
				</div>
				<br>
				<div class="row">
					<div class="col-md-5"></div>
	    			<div class="col-md-2">
	    				<button type="submit" class="btn btn-lg btn-primary" >Registrar</button>
	    			</div>
	    			<div class="col-md-5"></div>					
				</div>		
     		</form>
		</div>
	</div>
</body>
</html>