<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Registro de elementos - CEST</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 align="center">Registro de elementos</h1>
		</div>
		<div class="container">
			<form class="form-signin" action="#" th:action="@{/registrarElementos}" th:object="${elemento}" th:method="post">
				<h2 class="form-signin-heading">Por favor llene todos los campos</h2>
				<div class="row">
					<div class="col-md-4">
						<label>ID</label>
						<input name="id" type="text" th:field="*{id}" class="form-control"/>
					</div>
					<div class="col-md-4">
						<label>Número de piso</label>
						<input type="text" th:field="*{numeropiso}" class="form-control"/>
					</div>
					<div class="col-md-4">
						<label>Número de contrato</label>
						<input type="text" th:field="*{numerocontrato}" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label>Cédula encargado</label>
						<input name="id" type="text" th:field="*{cedulaencargado}" class="form-control"/>
					</div>
					<div class="col-md-4">
						<label>Consecutivo mantenimiento</label>
						<input type="text" th:field="*{consecutivomantenimiento}" class="form-control"/>
					</div>
				</div>
				
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
      </form>
		</div>
	</div>
</body>
</html>