<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts.js"></script>

<title>Registro de elementos - CEST</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1 align="center">Registro de Extintor</h1>
		</div>
		<div class="container">
			<form class="form-signin" action="#" th:action="@{/registrarExtintor}" th:object="${extintor}" th:method="post">
				<h2 class="form-signin-heading">Por favor llene todos los campos</h2>
				<div class="row">
					<div class="col-md-6">
						<label>ID</label>
						<input name="id" type="text" class="form-control" required/>
					</div>
					<div class="col-md-6">
						<label>Tipo</label> <br>
						<select class="form-control" name="tipo"style="width: 100%">
						   	<option>Seleccione</option>
						   	<option>ABC</option>
						   	<option>H2O</option>
						   	<option>CO2</option>
						   	<option>Solkaflam</option>
						   					   	
						</select>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Tamaño</label> <br>
						<select class="form-control" name="tamanio" style="width: 100%">
						   	<option>10 libras</option>
						   	<option>15 libras</option>
						   	<option>20 libras</option>
						   	<option>370 gramos</option>
						   	<option>2,5 litros</option>
						   	<option>150 litros</option>						   	
						</select>
					</div>
					
					<div class="col-md-6">
						<label>Fecha Recarga</label>
						<input type="date" class="form-control" required/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Caducidad</label>
						<input type="text" class="form-control" required/>
					</div>
					<div class="col-md-6">
						<label>Empresa</label>
						<input type="text" class="form-control" required/>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-6">
						<label><br>Ubicacion: </label>						
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<label>Sede</label> <br>
						<select id="sedeSelected" class="form-control" name="tamanio" style="width: 100%" onchange="filtrar();">
						   	<option>Seleccione</option>
						   	<th:block th:each="sede:${sedes}">
						   		<option th:text="${sede.nombre}"></option>	
						   	</th:block>		   	
						</select>						
					</div>				
					
					<div class="col-md-4">
						<label>Bloque</label> <br>
						<select class="form-control" name="tamanio" style="width: 100%">
						   	<option>Seleccione</option>
						   	<th:block th:each="bloque:${bloques}">
						   		<option title="${bloque.nombre}"></option>	
						   	</th:block>		   	
						</select>						
					</div>
					
					<div class="col-md-4">
						<label>Piso</label> <br>
						<select class="form-control" name="tamanio" style="width: 100%">
						   	<option>Seleccione</option>
						   	<th:block th:each="piso:${pisos}">
						   		<option title="${piso.numero}"></option>	
						   	</th:block>		   	
						</select>						
					</div>					
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<label>Encargado</label>
						<input name="id" type="text" class="form-control">
					</div>
					<div class="col-md-6">
						<label>Estado Extintor</label> <br>
						<select class="form-control" name="tamanio"style="width: 100%">
						   	<option>Activo</option>
						   	<option>Baja</option>
						   	<option>Mantenimiento</option>
						   	<option>Vencido</option>
						   					   	
						</select>
					</div>
										
				</div>		
			
        		<div class="col-md-5"></div>
	    			<div class="col-md-2">
	    				<button class="btn btn-lg btn-primary">Registrar</button>
	    			</div>
	    		<div class="col-md-5"></div>
     		</form>
		</div>
		
	</div>
</body>
</html>